<!DOCTYPE html>
<html>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <style>
	.imageTitle{
		font-family:"Times New Roman",Times,serif;
		font-style:oblique;
		font-size:20px;
		text-align:center;
	}
	
	
    div#screen {
        background-size: contain;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
	
	#message{
		color: red;
		text-align:center;
		font-size:50px;
	}

#caption{      
    	width:50%;
    	height:25%;
        position:absolute;
        left:25%;
        bottom:10px;
    	border-style:solid;
    	border-width:2px;
    	text-align:center;
    	font-size:20px;
    	background-color:blue;
    	color:white;
    	opacity:0.5;
        border-radius:10px;
        padding:10px;
        display:none;
  }
	
</style>
  
  
  
  <script type="text/javascript">


  $(document).ready(function(){
  	var pullInterval = 500;
  	var url = "";
  	var base = "http://sleepy-scrubland-3038.herokuapp.com/client/checkin.json?snumber=";
    
    
      function update(link){
  	  //$("div#display").empty();  
  	    console.log(link);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'jsonp',
            timeout: 2000,
            error: function(xhr, status, error) {
                //alert("error");
                console.log('ajax error '+error);
                $.ajax(this);
            },
            success: function(result) {
            	if(result["result"]=="error"){
            		if(window.refreshIntervalId!=undefined){
            			clearInterval(window.refreshIntervalId);
            		}
            		
            		$("#message").show();
            		$('div#screen').hide();
            		$("#message").html("Device not linked correctly!");

            		
            	}
            	
            	else if(result["currImage"]!=null){
            		   $("#message").hide();
        		       $('div#screen').css('background-image', 'url('+result["currImage"]["url"]+')');
        		       
           		       if(url != result["currImage"]["url"]){
            		   	
            		   	   url = result["currImage"]["url"];
            		       $('<img/>').attr('src', result["currImage"]["url"]).load(function() {
                                  $(this).remove(); // prevent memory leaks as @benweet suggested
                                 //$('body').css('background-image', 'url(http://picture.de/image.png)');
                              
                                  if(url!=$(this).attr('src')){
                              	    return;
                                  }
                              
                                          		   
        		                  $('div#screen').css('background-image', 'url('+result["currImage"]["url"]+')');
        		       
        		           
        		                  var caption = result["currImage"]["Title"].split('.')[0];
        		                  if(result["currImage"]["Artist First N"]!=undefined && result["currImage"]["Artist Last N"]!=undefined){
        		       	              caption += "<br>"+result["currImage"]["Artist First N"]+' '+result["currImage"]["Artist Last N"];
        		                  } 
        		       
        		                  $('#caption').html(caption);
        		                  $('#caption').show();
        		                  setTimeout(function(){
        		       	             $('#caption').hide();
        		                  },2000);
        		               
        		               
        		               
        		               
                            });
            		   
            		   }
            		   
        		       	       
        		       
        		       if(result['stretch']=='true'){
        		       	  $('div#screen').css('background-size','cover');
        		       }
        		       else{
        		       	  $('div#screen').css('background-size','contain');
        		       }
        		       $('div#screen').show();
        		       
        		       
        		       var link = base+"56677test";
        		       if(result["nextPull"] != null){
        		       	 pullInterval = result["nextPull"];
        		       	 
        		       }
        		       console.log("nextPull: "+pullInterval);
      				   window.refreshIntervalId = setTimeout(function(){update2(link);},pullInterval);
        		       

            	}
            	               
               
           }
        });   
      }
  
        function update2(link){
  	  //$("div#display").empty();  
  	    console.log(link);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'jsonp',
            timeout: 2000,
            error: function(xhr, status, error) {
                //alert("error");
                console.log('ajax error '+error);
                $.ajax(this);
            },
            success: function(result) {
            	if(result["result"]=="error"){
            		if(window.refreshIntervalId!=undefined){
            			clearInterval(window.refreshIntervalId);
            		}
            		
            		$("#message").show();
            		$('div#screen').hide();
            		//$("#message").html("Your chromecast is being registerd, just a second please!");
            		$("#message").html("The device is unlinked!");
            		

            		//regDevice(window.email,window.deviceId,window.nickname);
            	}
            	
            	else if(result["currImage"]!=null){
            		   $("#message").hide();
            		   $('div#screen').css('background-image', 'url('+result["currImage"]["url"]+')');
            		   if(url != result["currImage"]["url"]){
            		   	   
            		   	   url = result["currImage"]["url"];
            		   	   
            		   	   
            		   	   //in case the previous one is not hidden.
        		           $('#caption').hide();
            		       $('<img/>').attr('src', result["currImage"]["url"]).load(function() {
                                  $(this).remove(); // prevent memory leaks as @benweet suggested
                                 //$('body').css('background-image', 'url(http://picture.de/image.png)');
                              
                                  if(url!=$(this).attr('src')){
                              	    return;
                                  }
                              
                                          		   
        		                  //$('div#screen').css('background-image', 'url('+result["currImage"]["url"]+')');
        		       
        		           
        		                  var caption = result["currImage"]["Title"].split('.')[0];
        		                  if(result["currImage"]["Artist First N"]!=undefined && result["currImage"]["Artist Last N"]!=undefined){
        		       	              caption += "<br>"+result["currImage"]["Artist First N"]+' '+result["currImage"]["Artist Last N"];
        		                  } 

        		                  $('#caption').html(caption);
        		                  $('#caption').show();
        		                  setTimeout(function(){
        		       	             $('#caption').hide();
        		                  },2000);
        		               
        		               
        		               
        		               
                            });
            		   
            		   }
            		   

            		   
    		       
        		       
        		       
        		       if(result['stretch']=='true'){
        		       	  $('div#screen').css('background-size','cover');
        		       }
        		       else{
        		       	  $('div#screen').css('background-size','contain');
        		       }
        		       $('div#screen').show();
        		       
        		       
        		       //var link = base+"chromecast"+window.deviceId;
      				   //window.refreshIntervalId = setInterval(function(){update(link);},500);
      				   
      				   if(result["nextPull"] != null){
        		       	 pullInterval = result["nextPull"];
        		       	 
        		       }
        		       console.log("nextPull: "+pullInterval);
      				   window.refreshIntervalId = setTimeout(function(){update2(link);},pullInterval);
        		       
            	}
            	               
               
           }
        });   
      }
    
    var sURL = window.document.URL.toString(); 
    var snumber = sURL.split('snumber=')[1];
    if(snumber==undefined){
    	snumber="56677test";
    }
    var link =base+snumber;
    update(link);
  
    
    


  });
    
    
    
       
    
    
  </script>
  
  
  
  
  <title>Media Player App</title>
  <body>
   
<div id="message"> hello! </div>
<div id = "screen"  style="position:absolute;top:0;left:0;height:100%;width:100%">
<div id = "caption">
	
</div>
   
  </body>

</html>
