.viewlistid{
float:left;margin-right:2px}


.socialNode{
	background-color:#111111; 
	width:100%;
	height:45px;
	text-align:center;
}

.socialChildNode{
	display:inline-block;
}

.socialTable{
	border-spacing: 0px;
	border-collapse:collapse;
}

.numbersTr{
	color:gray;
	font-size:12px;
}


.likeImg{
	height:20px;
	width:20px;
	position:relative;
	top:3px;	
}


.shareImg{
	height:20px;
	width:20px;
	position:relative;
	top:3px;
}

.commentImg{
	height:20px;
	width:20px;
	position:relative;
	top:3px;
}


.likeSpan{
	color:#00abde;
	font-size:12px;
	position:relative;
	top:0px;
	left:2px;
}

.shareSpan{
	color:#00abde;
	font-size:12px;
	position:relative;
	top:-1px;
	left:2px;
}

.commentSpan{
	color:#00abde;
	font-size:12px;
	position:relative;
	top:-2px;
	left:2px;
}

.selfLike{
	color:white;
}


*:focus { outline-color:transparent;}

	/* inline custom DOM Button */
	.mblDomButtonMyRedButton_0 {
		position: relative;
		height: 29px;
		line-height: 29px;
		padding: 0px 8px;
		color: white;
		font-family: Helvetica;
		font-size: 13px;
		font-weight: bold;
		border: 1px outset #9cacc0;
		border-radius: 5px;
		background: -webkit-gradient(linear, left top, left bottom, from(#d3656d), to(#bc1320), color-stop(0.5, #c9404b), color-stop(0.5, #bc1421));
		background-color: #c9404b;
		text-align: center;
	}
	.mblDomButtonMyBlueButton_0 {
		position: relative;
		height: 29px;
		line-height: 29px;
		padding: 0px 8px;
		color: white;
		font-family: Helvetica;
		font-size: 13px;
		font-weight: bold;
		border: 1px outset #9cacc0;
		border-radius: 5px;
		background: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
		background-color: #c9404b;
		text-align: center;
	}
	.mblCarouselItemImage {
		max-width:99%;
		box-shadow:none;
	}
	.mblButton{
		background-image: none !important;
		<!--background-color: #7b90ab !important; -->
		border-style:none!important;
		border-color:none;
	  -webkit-tap-highlight-color: none;
	  background-color:gray!important;
	  color:white;
	}
	.mblToolBarButton {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #00ABDE;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.MyToolBarButton {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 400!important;
	color: #00ABDE;
	}
	.mblTextBox {
		border-style:solid;
		border-color:#c1c1c1;
	}
	.mblSimpleDialogDecoration {
		background-image: none!important;
		background-color:gray!important;
	}
	

	.claro .dijitButton .dijitButtonNode {
		background-image: none !important;
		background-color: transparent !important;
		border:none; !important;
		box-shadow:none;
		color: #00ABDE;
	}
	.mblHeading {
		background-image: none !important;
		background-color:black !important;
		  border-top: none!important;
		border-bottom: none!important;
		border: none!important;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;
	}
	
	.mblListItemIcon {
		width:60px;
		height:60px
	}
	
	.thumbDiv {
		height:200px;
        background-position: center;
        background-repeat: no-repeat;
    	background-size: contain;
	}
	.mblTabBarSegmentedControl .mblTabBarButton {
		background-image: none;
		background-color: #7b90ab !important;
		color: black;
		box-shadow: none;

	}
	
	.mblTabBarSegmentedControl .mblTabBarButtonSelected {
		background-image: none;
 		background-color: #486A9A !important;
 
}
	.mblTabBar{
		text-shadow: none;
		height: 30px !important;
		border-top: none;
		border-bottom: none;
		background-color:black;
	}
	.mblTabBarTabBar {
		background-image: none;
		background-color: black !important;
	}
	
	.mblTabBarTabBar .mblTabBarButtonLabel {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 13px;
		color: #00ABDE;
	}

	.mblTabBarTabBar .mblTabBarButtonSelected {
		border-radius: 3px;
		background-color:black !important;
		background-image: none;
		color: none;
	}
	
.mblAccordionTitle {
	background-image:none;
	background-color:gray;

}
  
 .dj_tablet .mblTabBar{
		text-shadow: none;
		height: 30px !important;
		border-top: none;
		border-bottom: none;
	}
.dj_tablet	.mblTabBarTabBar {
		background-image: none;
		background-color: black !important;
	}
	
.dj_tablet	.mblTabBarTabBar .mblTabBarButtonLabel {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #00ABDE;
	}

.dj_tablet	.mblTabBarTabBar .mblTabBarButtonSelected {
		border-radius: 3px;
		background-color: black !important;
		background-image: none;
		color: none;
	}
	.mblTabBarTabBar .mblTabBarButtonSelected .mblTabBarButtonLabel {
		color: white !important;
	}
	.mblTabBarButtonLabel2 {
		color: white!important;
	}
	.mblTabBarButton  .shuffleclass{
		color: white!important;
	}
	
		.mblTabBarTabBar .shuffleclass{
		color: white!important;
	}

	.imagediv {
		float:left;
		background-color:black;
		margin: 2px;

		}
	.imagetxt {

		margin-top:-2px;

		height:45px;
		width:100%;
		text-align:center;
		font-size:11px;
		color:white;
		background-color:black;
		}

     .CarouselMeta {
     	text-align:left;
     }
     
    .mblCarouselItemImage.big{
    	height:320px;
        background-position: center;
        background-repeat: no-repeat;
    	background-size: contain;
    	
    }
    

    
    .hidden{
    	display:none;
    }
   
    .CarouselMeta{
    	padding:5px;
    }
	.mblToggleButton {
	background-image:none;
	}
	.mblToggleButtonSelected {
	background-image:none!important;
	}
	.mblToggleButtonChecked {
	background-image:none!important;
	}
	
	.imageclass{

	margin-top:-5px;
	}
	
	.wipestyle {
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;

	  border-bottom: 1px solid #47494C;
	background-color: #3A3B3E;
	height:40px;
	line-height:45px;
	vertical-align:middle;
	color:white;
	position:relative;
	text-indent:15px
	}
	.backstyle {
	position:relative;
	top: -6px;
	color: #00ABDE;
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		width:65px;
		height:45px;
	}
	.backstyle2 {
	position:absolute;
	top: 7px;left:22px;
	color: #00ABDE;
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		width:65px;
		height:45px;
	}

	.editstyle {
	position:relative;
		color: #00ABDE;
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		width:65px;
		height:45px;
		top:-3px;
	}
	.msgstyle {
		color: #00ABDE;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		position:relative;
		left:20px;
	}
	.categoryclass
	{
	}
	.showingclass1
	{
		position:absolute;
		left:4px;
		top:2px;
		height:39px;
		width:39px
	}
	.showingclass
	{
		position:absolute;
		left:5px;
		top:3px;
		height:29px;
		width:36px
	}
	.showtitle
	{
		position:absolute;
		width:300px;
		top:3px;
		left:55px;
		font-size:12px;
		line-height:150%;
		color:white;
		text-align:left
	}
	
.mblToggleButton {
  
  font-family: Helvetica;
  line-height: 29px;
    border-style: solid;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  border-color: #b5b5b5;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}
	
.mblToggleButtonChecked {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#bfbfbf), color-stop(0.5, #ebebeb), color-stop(0.5, #dedede));
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #ebebeb 50%, #dedede 50%, #bfbfbf 100%);
  color: black;
}
.mblView {
color:gray;
}
.mobile body {
    color :gray;
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
}
.mblBackground {
  background-color: black!important;
}

.mblListItem {
background-color: #cccccc!important;
font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color:#404040;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
		-webkit-tap-highlight-color: transparent!important;
		-webkit-user-select: none;
		
}
.mblListItemSelected {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
				-webkit-tap-highlight-color: transparent!important;
		-webkit-user-select: none;
		background-image:none;
}
.mblListItemLabelSelected {
  background-color: red;
  		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
}
.mblRoundRect {
  background-color: #cccccc!important;
  border: none!important;
}
.mblRoundRectList {

  border: none!important;

}

.timestamp {
			font-size: 12px;
		color:#404040;
}

.detailclass {
	position:relative;
	float:right;
	margin-right:15px;
	top:-35px;
	}
	
.deleteclass {
	position:relative;
	float:right;
	margin-right:0px;
	top:-35px;
	height:25px;
	width:25px;
	border:none!important;
	background-image: url('Trash_25x25.png')!important;
	}

*{        
     /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
